{
 :paths ["src"] 
  
 :deps
 {
  org.clojure/clojure {:mvn/version "1.11.0"}
  quil/qui {:mvn/version "4.3.1563"}
  com.alchemyislands/patterning {:mvn/version "0.5.6-SNAPSHOT"}
  org.clojure/math.numeric-tower {:mvn/version "0.0.4"}
  }
  
}
